<mat-card class="login-page">
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>

    <form class="login-form data-form" #loginForm="ngForm" (ngSubmit)="login(loginForm, $event)">
      <mat-form-field appearance="fill">
        <input 
            matInput 
            type="text" 
            name="secureCode"
            [(ngModel)]="val.secureCode"
            [ngModelOptions]="{updateOn: 'change'}"
            #secureCode="ngModel"
            placeholder="Personal secure code"
            pattern="[a-z]+">

            <mat-error *ngIf="secureCode.errors?.pattern">You should only have low chars</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">

        <input matInput 
               name="email"
               type="email"
               [(ngModel)]="val.email"
               #email="ngModel"
               [ngModelOptions]="{updateOn: 'change'}"
               (ngModelChange)="onEmailChange($event)"
               placeholder="Email"
               required
               email
               minlength="5" 
               maxlength="20">
               
            <mat-error *ngIf="email.errors?.required">The email is mandatory</mat-error>
            <mat-error *ngIf="email.errors?.email">The field email is invalid</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input 
          matInput 
          type="password" 
          name="password" 
          [(ngModel)]="val.password"
          #password="ngModel"
          [ngModelOptions]="{updateOn: 'change'}"
          placeholder="Password"
          required
          minlength="5">
      </mat-form-field>

      <button mat-raised-button
              color="primary"
              [disabled]="!loginForm.valid"
              type="submit">
        Login
      </button>
    </form>

    <div class="form-val"> 
        {{loginForm.value | json}}
        <br/>
        {{secureCode.value}}
        {{email.value}}
        {{password.value}}
        {{email.errors | json}}
    </div>

  </mat-card-content>
</mat-card>
